/* CSS RESET */
*, *::before *::after{
    box-sizing:border-box;
}

* {
    margin: 0;
}

html, body {
    padding: 0;
    height: 100%;
    width: 100%;
}

input, textarea, select, label {
    font: inherit;
}

/* STYLE START */
body {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    user-select: none;
    background-color: #ffffee;
    color: #800000;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 80%;
    align-self: center;
    margin: 10px;
    color: #00000025;
}

p {
    margin-bottom: 10px;
    align-self: center;
    font-weight: bold;
}

label {
    grid-area: label;
}

a, a:visited {
    color: #800000;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

/* IDs */
#logoContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}

#icon{
    height: 24px;
}

#logoTitle{
    font-size: 24px;
    margin: 0;
    letter-spacing: -2px;
}

#pathInput {
    width: 80%;
    align-self: center;
    border: 1px solid #00000050;
}

#pathInput:focus {
    outline: none;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

#typeOptions {
    width: 80%;
    align-self: center;
}
/* CLASSES */
.opt {
    display: grid;
    grid-template-columns: 10% 88%;
    grid-template-areas: "box label";
    gap: 2%;
    margin-bottom: 5px;
    accent-color: #800000;
}